:root {
    --instagram-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

* {
    outline: none;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100vh;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;    

    .phone {
        height: 100vh;
        height: 600px;
        height: 100vh;
        width: 320px;
        /* background-color: white; */
        display: flex;
        justify-content: center;

        .phonecase {
            border: 1px solid bisque;
            height: 600px;
            height: 99.5vh;
            height: 99%;
            width: 320px;
            border-radius: 25px;
            background-color: white;
            box-shadow: black 4px 1px 20px;
            

            .inner-case {
                border: 5px solid black;
                height: 580px;
                height: 97.9vh;
                height: 98.4%;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top-bar {
                    display: flex;
                    align-items: left;
                    justify-content: space-between;
                    /* gap: 5px; */
                    background-color: rgba(0, 0, 0, 0.062);
                    padding: 5px;
                    cursor: pointer;

                    .camera {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .black-block {
                            height: 20px;
                            width: 140px;
                            background-color: black;
                            border-radius: 15px;
                        }
                    }
                    .menu-bar {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 30px;

                        .left, .right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            font-weight: 600;
                        }
                        
                        .right {

                            .bi.bi-battery-charging {
                                transform: scale(-1, -1);
                            }
                        }
                    }
                }
                .phone-main {
                    padding: 0 5px 0 5px;
                    overflow: scroll;
                    font-size: .8rem;
                    background-color: white;

                    .welcome-text {
                        text-align: center;

                        .point-down {
                            transform: scale(1, 1);
                        }
                    }
                    .social-medias {
                        
                        .media {
                            /* border: 1px solid teal; */
                            padding: 1px;
                            border-radius: 20px;
                            margin: 1rem;
                            display: flex;
                            font-weight: bold;
                            align-items: center;
                            justify-content: center;
                            /* gap: 10px; */
                            color: white;
                            font-size: .7rem;
                            text-decoration: none;

                            &.facebook {
                                background-color: #285aeb;
                            }
                            &.instagram {
                                background: var(--instagram-gradient);
                            }
                            &.twitter {
                                background-color: lightskyblue;
                            }
                            &.snapchat {
                                background-color: #fffc00;
                            }
                            &.threads {
                                background-color: #000;
                            }
                            &.linkedin {
                                background-color: #0b66c3;
                            }
                            &.tik-tok {
                                background-color: #161824;
                            }
                            &.twitch {
                                background-color: #9146ff;
                            }
                            &.telegram {
                                background-color: #31a5e0;
                            }
                            &.youtube {
                                background-color: red;
                            }
                            &.whatsapp {
                                background-color: #6dda82;
                            }
                            &.mail {
                                color: black;
                                border: 1px solid black;

                                img {
                                    height: 20px;
                                    width: 27px;
                                }
                            }
                            svg {
                                height: 100%;
                                /* border: 1px solid black; */
                                padding: 0 10px;
                                /* border-radius: 20px; */
                            }
                            img {
                                width: 30px;
                                padding: 0 10px;
                                /* border-radius: 20px; */
                            }
                            p {
                                text-align: center;
                            }
                        }
                    }
                    .copyright {
                        text-align: center;
                    }
                }
                .nav-buttons {
                    display: flex;
                    align-items: left;
                    justify-content: space-between;
                    background-color: rgba(0, 0, 0, 0.062);
                    background-color: transparent;
                    padding: 7.5px 50px;
                    
                    .swiper-up {
                        height: 5px;
                        width: 200px;
                        background-color: grey;
                        border-radius: 10px;
                    }

                    * {
                        cursor: pointer;
                    }
                }
            }
        }
        .volume-up, .volume-down {
            background-color: bisque;
            height: 50px;
            width: 2px;
        }
        .volume-up {
            transform: translate(-316px, 145px);
        }
        .volume-down {
            transform: translate(-318px, 200px);
        }
        .power-button {
            background-color: bisque;
            height: 45px;
            width: 2px;
            transform: translate(-4px, 145px);
        }
    }
}
